package ${package}.controller.${moduleName};

import ${package}.service.${moduleName}.${className}Service;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * @Description ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${classname}")
public class ${className}Controller {

    @Autowired
    ${className}Service ${classname}Service;

   
}
