<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>编辑页面</title>
	<block th:replace="commonBase"></block>            
	<link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" media="all" />
	<style>
		.layui-form-label{    
		  width: 100px;
	    }       
	</style>     
</head>
<body>
  <div style="padding: 20px; background-color: #F2F2F2;height:100%;width:100%;overflow:auto">   
	  <div class="layui-row layui-col-space15">
	    <div class="layui-col-md12">
	      <div class="layui-card">
	        <div class="layui-card-body">
	          	<form class="layui-form" action=""  lay-filter="form1">
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName)
#if($column.attrType == 'Date')
                  <div class="layui-form-item">
				  	<label class="layui-form-label">${column.comments}</label>
				    <div class="layui-input-block">
				      <input type="text" name="${column.attrname}" id="${column.attrname}" lay-verify="" autocomplete="off" placeholder="请选择${column.comments}" class="layui-input" />
				    </div>
				  </div>  
#end
#if($column.attrType != 'Date')
                  <div class="layui-form-item">
				  	<label class="layui-form-label">${column.comments}</label>
				    <div class="layui-input-block">
				      <input type="text" name="${column.attrname}" id="${column.attrname}" lay-verify="" autocomplete="off" placeholder="请输入${column.comments}" class="layui-input" />
				    </div>
				  </div>  
#end
#end
#if($column.columnName == $pk.columnName)
                  <div class="layui-form-item" style="display:none">
				  	<label class="layui-form-label">${column.comments}</label>
				    <div class="layui-input-block">
				      <input type="text" name="${column.attrname}" id="${column.attrname}" lay-verify="" autocomplete="off" placeholder="请输入${column.comments}" class="layui-input" />
				    </div>
				  </div>  
#end
#end
				  <hr class="layui-bg-gray" />     
				  <div class="layui-form-item" style="text-align: center;margin: auto auto;">    
				   	<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save"><i class="fa fa-save"></i>  保存</button>
	   				<button type="button" class="layui-btn layui-btn-danger" onclick="parent.layer.closeAll();"><i class="fa fa-remove"></i>  关闭</button>
				  </div>
				</form>
	        </div>         
	      </div>
	    </div>
    </div>
  </div>            
  <script charset="UTF-8" th:src="@{/plugins/layui/layui.js}"></script> 
           
<script>            
  var layer = null;
#if(${hasDate}) 
  layui.config({
	  base: basePath+'plugins/layui_exts/'    
  }).extend({

  }).use(['layer','form','jquery','layedit', 'laydate'],function(){
      $ = layui.jquery;	
      var form = layui.form,
	  layer = layui.layer,    
	  layedit = layui.layedit,
	  laydate = layui.laydate;  
#foreach ($column in $columns)
#if($column.attrType == 'Date')
	  laydate.render({   //日期选择器
	    elem: '#${column.attrname}'
	  });    
#end	  
#end
	  form.on('submit(save)', function(data){                 
		  submit(JSON.stringify(data.field),layer);   
		  return false;
	  });
	  setFormValue();
  });
#end
#if(!${hasDate}) 
  layui.config({
	  base: basePath+'plugins/layui_exts/'    
  }).extend({

  }).use(['layer','form','jquery','layedit'],function(){
      $ = layui.jquery;	
      var form = layui.form,
	  layer = layui.layer,    
	  layedit = layui.layedit,

	  form.on('submit(save)', function(data){                 
		  submit(JSON.stringify(data.field),layer);   
		  return false;
	  });
	  setFormValue();
  });
#end

  //给form表单设置值
  function setFormValue(){
     var data = parent.json;   //得到父页面选中的行数据
	 if(data.length == 1){    
#foreach ($column in $columns)
#if($column.attrType == 'Date')  
         $("#${column.attrname}").val(parseDate(data[0].${column.attrname}));  
#end
#if($column.attrType != 'Date')
         $("#${column.attrname}").val(data[0].${column.attrname});  
#end		
#end	 
     }
  }
  
  //保存提交的方法
  function submit(data,layer){  
  	 $.ajax({
   		 url:basePath+"${classname}/edit",
   		 type:'post',
   		 data:{data:data},        
   		 cache:false,
   		 success:function (successData){   
   			 var message = mini.decode(successData);           
   			 if(message.type=='200'){               
   				layer.msg('编辑成功', {icon: 1,time: 1200},function(){
   					closeWin();
   				});              
   			 }else{
   				layer.msg('编辑失败，请稍后重试', {icon: 5,time: 2000});
   			 }
   		 },    
   		 error:function(XMLHttpRequest,textStatus,errorThrown){	
   			layer.msg('编辑错误，请稍后重试', {icon: 5,time: 2000});   
   		 }
   	  })
   }

   //关闭页面
   function closeWin(){
	  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
      parent.layer.close(index); //再执行关闭                     
   }
   
   //转成日期格式
   function parseDate(value){
	   if(!value){
		  return "";        
	   }    
	   return format(value,'yyyy-MM-dd'); 
   }
    
</script>
</body>
</html>